@use "sass:color";

// Paleta de colores GVA
$gva-red: #D0202E;
$gva-grey: #5E6A71;
$gva-light-grey: #F2F2F2;
$gva-dark-grey: #333333;
$gva-blue: #00698C; // Color complementario común
$gva-white: #FFFFFF;

// Sobreescribir variables de Bootstrap
$primary: $gva-red;
$secondary: $gva-grey;
$info: $gva-blue;
$light: $gva-light-grey;
$dark: $gva-dark-grey;

// Configuración de cuerpo y enlaces
$body-bg: $gva-white;
$body-color: $gva-dark-grey;
$link-color: $primary;
$link-hover-color: color.adjust($primary, $lightness: -15%);

// Importar SweetAlert2 y Bootstrap
@import 'sweetalert2/src/sweetalert2.scss';
@import "bootstrap/scss/bootstrap";

// Botones
.swal2-confirm {
  background-color: $primary !important;
}
.swal2-cancel {
  background-color: $secondary !important;
}

// Iconos
.swal2-icon {
  &.swal2-success {
    border-color: $primary !important;
    .swal2-success-line-tip,
    .swal2-success-line-long {
      stroke: $primary !important;
    }
  }
  &.swal2-error {
    border-color: $primary !important;
    color: $primary !important;
  }
  &.swal2-warning {
    border-color: $primary !important;
    color: $primary !important;
  }
  &.swal2-info {
    border-color: $info !important;
    color: $info !important;
  }
  &.swal2-question {
    border-color: $secondary !important;
    color: $secondary !important;
  }
}
