@use "sass:color";

// Paleta de colores GVA
$gva-red: #D0202E;
$gva-grey: #5E6A71;
$gva-light-grey: #F2F2F2;
$gva-dark-grey: #333333;
$gva-blue: #00698C; // Color complementario común
$gva-white: #FFFFFF;

// Sobreescribir variables de Bootstrap
$primary: $gva-red;
$secondary: $gva-grey;
$info: $gva-blue;
$light: $gva-light-grey;
$dark: $gva-dark-grey;

// Configuración de cuerpo y enlaces
$body-bg: $gva-white;
$body-color: $gva-dark-grey;
$link-color: $primary;
// Reemplazo de darken() por color.adjust() para evitar advertencias de deprecación
$link-hover-color: color.adjust($primary, $lightness: -15%);

// Importar Bootstrap
@import "bootstrap/scss/bootstrap";
