@use "sass:color";

// Paleta de colores GVA
$gva-red: #D0202E;
$gva-grey: #5E6A71;
$gva-light-grey: #F2F2F2;
$gva-dark-grey: #333333;
$gva-blue: #00698C; // Color complementario común
$gva-white: #FFFFFF;

// Sobreescribir variables de Bootstrap
$primary: $gva-red;
$secondary: $gva-grey;
$info: $gva-blue;
$light: $gva-light-grey;
$dark: $gva-dark-grey;

// Configuración de cuerpo y enlaces
$body-bg: $gva-white;
$body-color: $gva-dark-grey;
$link-color: $primary;
$link-hover-color: color.adjust($primary, $lightness: -15%);

// --- Integración de SweetAlert2 ---
// 1. Sobrescribimos las variables de color de SweetAlert2 con nuestros colores de Bootstrap.
// Esto debe hacerse ANTES de importar los estilos de SweetAlert2.
$swal2-confirm-button-background-color: $primary;
$swal2-cancel-button-background-color: $secondary;
$swal2-icon-color-warning: $primary; // Usamos el color primario para los iconos de advertencia

// 2. Importamos los estilos de SweetAlert2.
@import 'sweetalert2/src/sweetalert2.scss';

// Importar Bootstrap
@import "bootstrap/scss/bootstrap";
